<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Edit Suggested Products</strong>
                    <small>Form</small>
                    <button (click)="backtosuggested()" class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="card-body">
                    <form>

                    </form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="company">Product name</label>
                                <input type="text" class="form-control" id="city" placeholder="Product Name">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>