<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add Wholeseller</strong>
                    <small>Form</small>
                    <button (click)="backtowholeseller()" class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="card-body">
                    <form [formGroup]="wholesellerForm">
                    <!-- <div class="row"> -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">First Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="first_name" formControlName="first_name" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.first_name.errors&&wholesellerForm.controls.first_name.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.first_name.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.first_name.errors.required">First name is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Last Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="last_name" formControlName="last_name" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.last_name.errors&&wholesellerForm.controls.last_name.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.last_name.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.last_name.errors.required">Last name is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Phone Number :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="mobile" 
                                    formControlName="mobile" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.mobile.errors&&wholesellerForm.controls.mobile.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.mobile.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.mobile.errors.required">Mobile Number is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Email :</label>
                                <input class="form-control" type="email" [(ngModel)]="email" formControlName="email" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.email.errors&&wholesellerForm.controls.email.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.email.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.email.errors.required">Email is required</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Password :</label>
                                <input class="form-control" type="password" [(ngModel)]="password" formControlName="password" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.password.errors&&wholesellerForm.controls.password.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.password.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.password.errors.required">Password is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Bussiness Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_name"
                                   formControlName="bussiness_name" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_name.errors&&wholesellerForm.controls.bussiness_name.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_name.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_name.errors.required">Business name is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Building/Shop/Office Number :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_houseno"
                                    formControlName="bussiness_houseno" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_houseno.errors&&wholesellerForm.controls.bussiness_houseno.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_houseno.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_houseno.errors.required">Building/Shop/Office Number is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Road Number :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_address"
                                    formControlName="bussiness_address" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_address.errors&&wholesellerForm.controls.bussiness_address.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_address.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_address.errors.required">Road Number is required</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname"> Area :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_area"
                                    formControlName="bussiness_area" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_area.errors&&wholesellerForm.controls.bussiness_area.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_area.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_area.errors.required">Area is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Bussiness Country :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_country"
                                   formControlName="bussiness_country" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_country.errors&&wholesellerForm.controls.bussiness_country.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_country.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_country.errors.required">Business country is required</div>
								</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Bussiness City :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_city"
                                   formControlName="bussiness_city" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_city.errors&&wholesellerForm.controls.bussiness_city.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_city.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_city.errors.required">Business city is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Po Box Number :</label>
                                <input class="form-control" type="text" [(ngModel)]="bussiness_pincode"
                                   formControlName="bussiness_pincode" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bussiness_pincode.errors&&wholesellerForm.controls.bussiness_pincode.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bussiness_pincode.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bussiness_pincode.errors.required">Po Box Number is required</div>
								</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Account Holder Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="account_holder_name"
                                   formControlName="account_holder_name" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.account_holder_name.errors&&wholesellerForm.controls.account_holder_name.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.account_holder_name.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.account_holder_name.errors.required">Account Holder name is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Account Number :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="account_number"
                                   formControlName="account_number" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.account_number.errors&&wholesellerForm.controls.account_number.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.account_number.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.account_number.errors.required">Account Number is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Bank Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="bank_name" formControlName="bank_name" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bank_name.errors&&wholesellerForm.controls.bank_name.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bank_name.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bank_name.errors.required">Bank name is required</div>
								</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Branch Name :</label>
                                <input class="form-control" type="text" [(ngModel)]="bank_branch" formControlName="bank_branch" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.bank_branch.errors&&wholesellerForm.controls.bank_branch.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.bank_branch.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.bank_branch.errors.required">Branch name is required</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">IBAN Code :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="ifsc_code"
                                   formControlName="ifsc_code" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.ifsc_code.errors&&wholesellerForm.controls.ifsc_code.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.ifsc_code.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.ifsc_code.errors.required">IBAN Code is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Commision :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="commission_to_admin"
                                    formControlName="commission_to_admin" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.commission_to_admin.errors&&wholesellerForm.controls.commission_to_admin.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.commission_to_admin.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.commission_to_admin.errors.required">Commision is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Open Time :</label>
                                <!-- <kendo-timepicker [(value)]="from_date" name="from_date"
                                                [(ngModel)]="from_date">
                                            </kendo-timepicker> -->
                                <input type="time" class="form-control"  [(ngModel)]="from_date"
                                    (change)="valuechange($event)" formControlName="from_date" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.from_date.errors&&wholesellerForm.controls.from_date.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.from_date.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.from_date.errors.required">Open Time is required</div>
								</div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="firstname1">To Date :</label>
                                            <kendo-timepicker [(value)]="to_date" [min]="from_date"
                                                [ngModel]="to_date">
                                            </kendo-timepicker>
                                        </div>
                                    </div> -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">&nbsp;&nbsp;Close Time :</label>
                                <!-- <kendo-timepicker [min]="from_date" [(value)]="to_date"
                                                                        [(ngModel)]="to_date" name="to_date">
                                                                    </kendo-timepicker> -->
                                <input type="time" class="form-control" name="Enter Close Time" [(ngModel)]="to_date"
                                    (change)="close()" formControlName="to_date" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.to_date.errors&&wholesellerForm.controls.to_date.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.to_date.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.to_date.errors.required">Close Time is required</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">VAT Number :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="vat_number"
                                    formControlName="vat_number" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.vat_number.errors&&wholesellerForm.controls.vat_number.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.vat_number.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.vat_number.errors.required">VAT Number is required</div>
								</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">CR Number :</label>
                                <input myNumberOnly class="form-control" type="text" [(ngModel)]="cr_number"
                                    formControlName="cr_number" [ngClass]="{'is-invalid':(submitted && wholesellerForm.controls.cr_number.errors&&wholesellerForm.controls.cr_number.errors.required)}"  />
								<div *ngIf="submitted && wholesellerForm.controls.cr_number.errors" class="invalid-feedback" style="display:block">
									<div *ngIf="wholesellerForm.controls.cr_number.errors.required">CR Number is required</div>
								</div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="firstname1">To Date :</label>
                                                <kendo-timepicker [(value)]="to_date" [min]="from_date"
                                                    [ngModel]="to_date">
                                                </kendo-timepicker>
                                            </div>
                                        </div> -->

                    </div>
                    <!-- <div class="row">
                        
                    </div> -->
                    <div class="form-group">
                        <label for="firstname" name="prodName">Wholeseller Images :
                        </label>
                        <!-- <input class="form-control" type='file' (change)="onSelectFile($event,i)" multiple><br/>
                                    <div *ngIf="!removeImg">
                                        <img *ngFor='let url of skuValues.sku_images' [src]="url.sku_image" height="100" (click)="updateImage(url.id,url.sku_id,url.sku_image)"
                                            [ngClass]="{'selected':selectedImage==url.id}" width="100" style="margin-right: 2%;border: 1px solid;margin-bottom:5%">

                                        <div *ngFor='let url of skuValues'>
                                            <img *ngFor="let imgUrl of url.sku_images;let i =index" [src]="imgUrl.sku_image" height="100" width="100" style="margin-right: 2%;border: 1px solid;margin-bottom:5%"
                                                (click)="updateImage(imgUrl.id)" [ngClass]="{'selected':selectedImage==imgUrl.id}">
                                        </div>
                                    </div> -->
                        <input class="form-control" type="file" multiple (change)="detectFiles($event)">
                        <div>
                            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
                        </div>
                    </div>
                    <p>Please select 4 images</p>
                    <!-- <div class="form-group col-sm-3">

                            <label for="city">First Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter First Name"
                                [(ngModel)]="first_name" name="first_name">

                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Last Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Last Name"
                                [(ngModel)]="last_name" name="last_name">
                        </div>


                        <div class="form-group col-sm-3">
                            <label for="city">Mobile Number</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Mobile Number"
                                [(ngModel)]="mobile" name="mobile">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Email</label>
                            <input type="email" class="form-control" id="city" placeholder="Enter email"
                                [(ngModel)]="email" name="email">
                        </div>
                        <div class="form-group col-sm-3">

                            <label for="city">Password</label>
                            <input type="password" class="form-control" id="city" placeholder="Enter Password"
                                [(ngModel)]="password" name="password">

                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Business Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business Name"
                                [(ngModel)]="bussiness_name" name="business_name">
                        </div>


                        <div class="form-group col-sm-3">
                            <label for="city">Business House Number</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business House Number"
                                [(ngModel)]="bussiness_houseno" name="business_houseno">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Business Address</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business Address"
                                [(ngModel)]="bussiness_address" name="business_address">
                        </div>
                        <div class="form-group col-sm-3">

                            <label for="city">Business Country</label>
                            <input type="password" class="form-control" id="city" placeholder="Enter Business Country"
                                [(ngModel)]="bussiness_country" name="business_country">

                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Business Area</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business Area"
                                [(ngModel)]="bussiness_area" name="bussiness_area">
                        </div>


                        <div class="form-group col-sm-3">
                            <label for="city">Business City</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business City"
                                [(ngModel)]="bussiness_city" name="bussiness_city">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="city">Business Pincode</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Business Pincode"
                                [(ngModel)]="bussiness_pincode" name="bussiness_pincode">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="city">Commission</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Commission"
                                [(ngModel)]="commission_to_admin" name="commission_to_admin">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">Open Time :</label>
                                <input type="time" class="form-control" name="Enter open Time" [(ngModel)]="mymodel"
                                    (change)="valuechange($event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">&nbsp;&nbsp;Close Time :</label>
                                <input type="time" class="form-control" name="Enter Close Time" (change)="close()">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3   ">
                        <div class="col-md-12">
                            <label class="col-form-label" for="file-input">Wholesaler Images</label>

                            <input type="file" id="file-input" name="file-input" multiple
                                (change)="detectFiles($event)">
                            Please choose 4 images
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success" *ngIf="!sellerId" (click)="addWholeSeller()">Add
                                Wholeseller</button>
                            <button class="btn btn-success" *ngIf="sellerId" (click)="updateWholeSeller()">Update
                                Wholeseller</button>
                        </div>
                    </div>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>