<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add User</strong>
                    <small>Form</small>
                    <button (click)="backtousers()" class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="card-body">
                    <form>

                    </form>
                    <div class="row">
                        <div class="form-group col-sm-6">

                            <label for="city">First Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter First Name">

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Last Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Mobile Number</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Email</label>
                            <input type="email" class="form-control" id="city" placeholder="Enter email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success">Edit User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>