<div class="animated fadeIn">
    <!-- <div class="row">
            <div class="col-lg-4 col-sm-5">
                <div class="well"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. </div>
            </div>
            <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                <table class="table table-clear">
                    <tbody>
                        <tr>
                            <td class="left"><strong>Subtotal</strong></td>
                            <td class="right">$8.497,00</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Discount (20%)</strong></td>
                            <td class="right">$1,699,40</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>VAT (10%)</strong></td>
                            <td class="right">$679,76</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Total</strong></td>
                            <td class="right"><strong>$7.477,36</strong></td>
                        </tr>
                    </tbody>
                </table><a class="btn btn-success" href="#"><i class="fa fa-usd"></i> Proceed to Payment</a>
            </div>
        </div> -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <button (click)="backtouserproducts()"
                        class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>Order Details </h1>
                        </div>
                        <!-- <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="ccnumber" placeholder="Search"
                                    [(ngModel)]="filter">
                            </div>
                        </div> -->
                    </div>
                    <!--/.row-->
                </div>

                <div class="card-body table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Product</th>
                                <th (click)="sort(product_name)">Name <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                                <th (click)="sort(sku_row)">Size <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                                <th (click)="sort(sku_row)">Color <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                                <th (click)="sort(quantity)">Quantity <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                                <th (click)="sort(sku_row)">Price <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                                <th (click)="sort(sku_row)">Total <span><i class="fa fa-sort"
                                            aria-hidden="true"></i></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let orddata of ordData|orderBy: key : reverse| paginate: { itemsPerPage: 10, currentPage: p }|filter:filter;let i = index">
                                <td>{{i+1}}</td>
                                <td><img alt="cat.image_url" class="img-avatar"
                                        [src]="orddata.sku_row[0].sku_images[0].sku_image"></td>
                                <td>{{orddata.product_name}} </td>
                                <td>{{orddata?.sku_row[0]?.size}}</td>
                                <td>{{orddata?.sku_row[0]?.color}}</td>
                                <td>{{orddata?.quantity}}</td>
                                <td>BD {{orddata.sku_row[0]?.selling_price}}</td>
                                <td>BD {{orddata.sku_row[0]?.selling_price * orddata?.quantity}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <h6 class="mb-3">Shipping Address:</h6>
                            <div><strong>{{orderAdd?.address_type}}</strong></div>
                            <div>{{orderAdd?.house_no}}</div>
                            <div>{{orderAdd?.landmark}}</div>
                            <div>{{orderAdd?.city}},{{orderAdd?.state}}</div>
                            <div> {{orderAdd?.pin_code}}</div>
                        </div>
                        <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                            <table class="table table-clear">
                                <tbody>

                                    <tr>
                                        <td class="left"><strong>
                                                Payable Amount</strong></td>
                                        <td class="right">{{orderDet.billing_amount}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Delivery Charges(+)</strong></td>
                                        <td class="right">{{orderDet.Delivery_charge}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Coupon Discount(-)</strong></td>
                                        <td class="right">{{orderDet.Coupon_Discount}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Total</strong></td>
                                        <td class="right"><strong>{{orderDet.Final_amount}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>