<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i>Change Password </div>

            <div class="card-body">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Old Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Old password is required</div>
                            <!-- <div *ngIf="f.password.errors.current_password">Email must be a valid email address</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Enter Password</label>
                        <input type="password" formControlName="new_password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">Password is required</div>
                            <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" formControlName="retype_password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.retype_password.errors }" />
                        <div *ngIf="submitted && f.retype_password.errors" class="invalid-feedback">
                            <div *ngIf="f.retype_password.errors.required">Confirm Password is required</div>
                            <!-- <div *ngIf="f.retype_password.errors.minlength">Confirm Password must be at least 6
                                        characters
                                    </div> -->
                        </div>
                    </div>
                    <button class="btn  btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- </div> -->