<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Attribute Master</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="angForm">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="company">Unit</label>
                                <input type="text" class="form-control" placeholder="Unit" formControlName="Unit"
                                    name="Unit">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="company">Size</label>
                                <input type="text" class="form-control" placeholder="Size" formControlName="Size"
                                    name="Size">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button [disabled]="!angForm.valid" class="btn btn-success " (click)="onSubmit()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>