<div class="animated fadeIn">

  <div class="row">

    <div class="col-lg-12">
      <div class="card pt-5 mt-5">
        <div class="container">
          <div class="row align-items-center mb-3">
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-warning">User Grocery</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h1>Single Banners</h1>
            </div>
            <div class="col-lg-6 text-right">
              <button type="button" class="btn  btn-primary" (click)="addsinglebanner()">Add Banner</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control" id="ccnumber" placeholder="Search">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>S No</th>
                <th>Mobile Banner</th>
                <th>Website Banner</th>
                <th>Type</th>
                <th>Target</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td>text Category</td>
                <td>147</td>
                <td>
                  <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td>text Category</td>
                <td>147</td>
                <td>
                  <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td>text Category</td>
                <td>147</td>
                <td>
                  <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td>text Category</td>
                <td>147</td>
                <td>
                  <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                <td>text Category</td>
                <td>147</td>
                <td>
                  <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>