
<div class="animated fadeIn">
  <!--/.row-->



  <div class="card-group mb-4">
    <div class="card" *ngIf="role=='Admin'">

        <div class="card-body" routerLink="/userslist">

          <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
              
                  </div>
                  <div class="col-md-6" style="float:right;">
                      <div class="h1 text-muted text-right mb-4">
                          <i class="icon-people"></i>
                        </div>
                    </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-6"  style="float:left;">
                          <div class="h4 mb-0">{{Count.usersActive}}</div>
                          <small class="text-muted text-uppercase font-weight-bold">Active</small>
                    </div>
                    <div class="col-md-6"  style="float:left;">
                        <div class="h4 mb-0">{{Count.usersInActive}}</div>
                        <small class="text-muted text-uppercase font-weight-bold">Inactive</small>
                      </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="progress progress-xs mt-3 mb-0">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                </div>
              </div>

              <div class="row" style="margin-top: 20px;">
                  <div class="col-md-12 text-center">
                      <div class="h4 mb-0">{{Count.userscount}}</div>
                     <small class="text-muted text-uppercase font-weight-bold">Users</small>
                  </div>
                </div>
        </div>
    </div>
    <div class="card" *ngIf="role=='Admin'">

        <div class="card-body" routerLink="/vendorslist">

          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-6">
                
                    </div>
                    <div class="col-md-6" style="float:right;">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="icon-people"></i>
                          </div>
                      </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-6" style="float:left;">
                      <div class="h4 mb-0">{{Count.activevenders}}</div>
                      <small class="text-muted text-uppercase font-weight-bold">Active</small>
                    </div>
                    <div class="col-md-6" style="float:left;">
                        <div class="h4 mb-0">{{Count.inactivevenders}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Inactive</small>
                      </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="progress progress-xs mt-3 mb-0">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
              </div>
          </div>

          <div class="row text-center" style="margin-top:20px;">
              <div class="col-md-12">
                  <div class="h4 mb-0">{{Count.venders}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Vendors</small>
              </div>
          </div>
        </div>


    </div>
    <div class="card" *ngIf="role=='Admin'">

        <div class="card-body" routerLink="/wholeseller">

          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-6" style="float:left;">
                      <div class="h4 mb-0">{{wholeSalerCommision}}</div>
                      <small class="text-muted text-uppercase font-weight-bold">Wholesaler Commision</small>
                    </div>
                    <div class="col-md-6" style="float:right;">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="icon-people"></i>
                          </div>
                      </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6" style="float:left">
                        <div class="h4 mb-0">{{Count.activewholesallers}}</div>
                         <small class="text-muted text-uppercase font-weight-bold">Active</small>
                      </div>
                      <div class="col-md-6" style="float:left">
                           <div class="h4 mb-0">{{Count.inactivewholesallers}}</div>
                          <small class="text-muted text-uppercase font-weight-bold">Inactive</small>
                        </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <div class="progress progress-xs mt-3 mb-0">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                  </div>
                </div>

                <div class="row text-center" style="margin-top:20px;">
                    <div class="col-md-12">
                        <div class="h4 mb-0">{{Count.wholeseller}}</div>
                        <small class="text-muted text-uppercase font-weight-bold">Wholesalers</small>
                    </div>
                  </div>          
        </div>

    </div>
    <div class="card" *ngIf="role=='Admin'">
      <div class="card-body" routerLink="/userslist/userorders">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>
        <div class="h4 mb-0">{{Count.userorders}} <span style="float:right;" class="h4 mb-0"> BD:
            {{Count.usercarttotal}}</span></div>
        <small class="text-muted text-uppercase font-weight-bold">User Orders</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="role=='Admin'">
      <div class="card-body" routerLink="/vendorslist/vendororders">
        <div class="h4 mb-0">{{vendorCommision}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Vendor Commision</small>
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>

        </div>
        <div class="h4 mb-0" style="margin-top: -12%;">{{Count.venderorders}}<span style="float:right;" class="h4 mb-0"> BD:
            {{Count.vendorcarttotal}}</span></div>
        <small class="text-muted text-uppercase font-weight-bold">Vendor Orders</small>

        

        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="role=='vendor'" routerLink="/vendorproducts">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>
        <div class="h4 mb-0">{{venCount?.approvedproductcount}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Vendor Products</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="role=='vendor'" routerLink="/vendorslist/vendororders">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>
        <div class="h4 mb-0">{{venCount?.ordercount}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Vendor Orders</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="role=='wholesaler'" routerLink="/vendorslist/vendororders">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>

        </div>
        <div class="h4 mb-0">{{wholeCount.ordersdata}}<span style="float:right;" class="h4 mb-0"> BD:
            {{wholeCount.total}}</span></div>
        <small class="text-muted text-uppercase font-weight-bold">Vendor Orders</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="role=='wholesaler'" routerLink="/wholesellerproducts">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>

        <div class="h4 mb-0">{{wholeCount.products}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Wholesaler Products</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>





  <!-- admin list -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Orders</h4>
          <div class="small text-muted">July 2019</div>
        </div>
        <div class="col-sm-7 d-none d-md-block">
          <select style="float: right;height: 32px;margin-top: 1px;" name="years" [value]="year"
            (change)="refreshByYear(yearVal.value)" #yearVal>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
          <!-- //[ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : ''}" -->
          <div class="btn-group float-right mr-3" data-toggle="buttons"><label btnradio="Day"
              [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option1" (click)="refresh('week')">Week</label><label btnradio="Month"
              [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option2" (click)="refresh('month')">Month</label><label
              [ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : '#ffff'}" btnradio="Year"
              class="btn btn-outline-secondary" id="option3" (click)="refresh('year')">Year</label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <!-- admin orders graph -->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>


    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">User Orders</div>
          <strong>{{userCount}} Orders </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Vendor Orders</div>
          <strong>{{vendorCount}} Orders </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Wholesaleres-->
  <div class="card" *ngIf="role=='Admin'">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Wholesalers / Vendors</h4>
          <div class="small text-muted">July 2019</div>
        </div>
        <div class="col-sm-7 d-none d-md-block">
          <select style="float: right;height: 32px;margin-top: 1px;" name="years" [value]="year"
            (change)="refreshByYear(yearVal.value)" #yearVal>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
          <!-- //[ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : ''}" -->
          <div class="btn-group float-right mr-3" data-toggle="buttons"><label btnradio="Day"
              [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option1" (click)="refresh('week')">Week</label><label btnradio="Month"
              [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option2" (click)="refresh('month')">Month</label><label
              [ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : '#ffff'}" btnradio="Year"
              class="btn btn-outline-secondary" id="option3" (click)="refresh('year')">Year</label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <!-- admin orders graph -->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainWholeSaleData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>


    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Wholesalers </div>
          <strong>{{userWholesaleCount}} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Vendors </div>
          <strong>{{vendorWholesaleCount}} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--User List-->
  <div class="card" *ngIf="role=='Admin'">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">User</h4>
          <div class="small text-muted">July 2019</div>
        </div>
        <div class="col-sm-7 d-none d-md-block">
          <select style="float: right;height: 32px;margin-top: 1px;" name="years" [value]="year"
            (change)="refreshByYear(yearVal.value)" #yearVal>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
          <!-- //[ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : ''}" -->
          <div class="btn-group float-right mr-3" data-toggle="buttons"><label btnradio="Day"
              [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option1" (click)="refresh('week')">Week</label><label btnradio="Month"
              [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option2" (click)="refresh('month')">Month</label><label
              [ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : '#ffff'}" btnradio="Year"
              class="btn btn-outline-secondary" id="option3" (click)="refresh('year')">Year</label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <!-- User graph -->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainUserData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>


    </div>
    <div class="card-footer">
      <div class="row text-center">

        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Users </div>
          <strong>{{totalUserCount}} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product Cat Data-->
  <div class="card" *ngIf="role=='Admin'">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Products and Categories</h4>
          <div class="small text-muted">July 2019</div>
        </div>
        <div class="col-sm-7 d-none d-md-block">
          <select style="float: right;height: 32px;margin-top: 1px;" name="years" [value]="year"
            (change)="refreshByYear(yearVal.value)" #yearVal>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
          <!-- //[ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : ''}" -->
          <!-- [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : ''}" -->
          <div class="btn-group float-right mr-3" data-toggle="buttons"><label btnradio="Day"
              [ngStyle]="{'background': changeTab==='week' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option1" (click)="refresh('week')">Week</label><label btnradio="Month"
              [ngStyle]="{'background': changeTab==='month' ? '#a7a2a2' : '#ffff'}" class="btn btn-outline-secondary"
              id="option2" (click)="refresh('month')">Month</label><label
              [ngStyle]="{'background': changeTab==='year' ? '#a7a2a2' : '#ffff'}" btnradio="Year"
              class="btn btn-outline-secondary" id="option3" (click)="refresh('year')">Year</label>
          </div>
        </div>
      </div>
      <!--/.row-->
      <!-- admin product and cats graph -->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainProductCatsData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>


    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Categories</div>
          <strong>{{catagiriescount}} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Products</div>
          <strong>{{productscount}} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">



    <!-- <div class="container"> -->

    <!-- <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ccnumber" placeholder="Search"
                                        [(ngModel)]="filter">
                                </div>
                            </div>
                        </div> -->
    <!--/.row-->
    <!-- |filter:filter; -->
    <!-- </div> -->

    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Users</h4>
          <button type="button" class="btn btn-primary mb-3" routerLink="/userslist">View More</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(first_name)">First Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(last_name)">Last Name <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(email)">Email<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
            <th (click)="sort(mobile_number)">Mobile <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of UserData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.first_name}} </td>
            <td>{{item.last_name }}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile_number}} </td>
            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                        </pagination-controls> -->
    </div>



  </div>
  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Sellers</h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/vendorslist">View More</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(first_name)">First Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(last_name)">Last Name <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(email)">Email<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
            <th (click)="sort(mobile_number)">Mobile <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of SellersData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.first_name}} </td>
            <td>{{item.last_name }}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile_number}} </td>
            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                            </pagination-controls> -->
    </div>



  </div>
  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">WholeSellers</h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/wholeseller">View More</button>
          
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(first_name)">First Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(last_name)">Last Name <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(email)">Email<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
            <th (click)="sort(mobile_number)">Mobile <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of WholeSellersData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.first_name}} </td>
            <td>{{item.last_name }}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile_number}} </td>
            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                          </pagination-controls> -->
    </div>



  </div>

  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Categories </h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/Category/categories">View More</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(category_name)">Category Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(description)">Description<span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th></th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of CategoriesData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.category_name}} </td>
            <td style="width: 400px;">
              <p> {{item.description}}</p>
            </td>
            <td><img alt="item.category_name" class="img-avatar" [src]="item.image_url"></td>

            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                  </pagination-controls> -->
    </div>



  </div>

  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Products </h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/widgets">View More</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(product_name)">Product Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(category_name)">Category Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(sub_category_name)">Sub Category Name
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th>Image
            </th>


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ProductsData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.category_name}} </td>
            <td>
              {{item.sub_category_name}}
            </td>
            <td><img alt="item.product_name" class="img-avatar" [src]="item.Img"></td>

            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                    </pagination-controls> -->
    </div>



  </div>
  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Coupons </h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/coupons">View More</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(voucher_code)">Voucher Code
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(total_count)">Total Count
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(available_count)">Available Count
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(start_date)">Start Date
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(end_date)">End Date
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th>Image
            </th>


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of CouponData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.voucher_code}}</td>
            <td>{{item.total_count}} </td>
            <td>
              {{item.available_count}}
            </td>
            <td>
              {{item.start_date}}
            </td>
            <td>
              {{item.end_date}}
            </td>

            <!-- <th>
              <button type="button" class="btn btn-primary mb-3">View More</button>
            </th> -->
          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                      </pagination-controls> -->
    </div>



  </div>

  <!-- Vendor Orders -->

  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">Vendor Orders </h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/vendorslist/vendororders">View More</button>

        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(order_id)">Order Id
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(ordered_on)">Ordered Date & Time
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(Final_amount)">Total Amount
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>


            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vendorOrdersData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.ordered_on}}</td>
            <td>{{item.Final_amount}} </td>

          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                        </pagination-controls> -->
    </div>



  </div>


  <!-- User Orders -->


  <div class="card">



    <div class="card-body products-list table-responsive">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="card-title mb-0">User Orders </h4>
          <button type="button" class="btn btn-primary mb-3" routerlink="/userslist/userorders">View More</button>

        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S No</th>
            <th (click)="sort(order_id)">Order Id
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(ordered_on)">Ordered Date & Time
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>
            <th (click)="sort(Final_amount)">Total Amount
              <span><i class="fa fa-sort" aria-hidden="true"></i></span>
            </th>



            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userOrdersData|orderBy: key : reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.ordered_on}} </td>
            <td>{{item.Final_amount}} </td>

          </tr>
        </tbody>
      </table>
      <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
      <!-- <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                        </pagination-controls> -->
    </div>



  </div>
</div>




<style>
  .brand-card-header {
    height: 10rem !important;
    display: block;
    text-align: center;
  }

  .overall-users h1 {
    color: #ffffff;
  }

  .overall-users img {
    margin-bottom: 6px;
    margin-right: 12px;
    width: 31px;
    padding-top: 12%;
  }
</style>