<div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><i class="fa fa-align-justify"></i>Image Approval</div>
                    <div class="card-body image-details">
                        <table class="table table-bordered">
    
                            <tbody>
                                <tr>
                                    <th>Product Category</th>
                                    <th>Details</th>
                                </tr>
                                <tr>
                                    <th>Product Name</th>
                                    <td>test name</td>
                                </tr>
                                <tr>
                                    <th>Brand Name</th>
                                    <td>test name</td>
                                </tr>
                                <tr>
                                    <th>Country</th>
                                    <td>Test Country</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>lorem Ipsum</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><i class="fa fa-align-justify"></i> Image Approval </div>
                    <div class="card-body">
                        <table class="table table-bordered">
    
                            <tbody>
                                <tr>
                                    <th>Sku Category</th>
                                    <th>Details</th>
                                </tr>
                                <tr>
                                    <th>Selling Price</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Actual Price</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Discount</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Stock</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>images</th>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-align-justify"></i> Image Approval </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="assets/img/avatars/6.jpg" class="product-image">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <button aria-pressed="true" class="btn btn-block btn-outline-success active"
                                    type="button">Approve</button>
                            </div>
                            <div class="col-md-2">
                                <button aria-pressed="true" class="btn btn-block btn-outline-danger active"
                                    type="button">Disapprove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <style>
        .image-details {
            margin-bottom: 18%;
        }
    
        .product-image {
            width: 100%;
            height: 158px;
        }
    </style>