<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card pt-5 mt-5">
        <div class="container">
          <div class="row align-items-center mb-3">
            <div class=" col-md-3  mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-primary" (click)="getGroceryProds()"
                [ngStyle]="{'background-color':showGroceryProds===true ? '#1985ac'  :  'white','border':showGroceryProds===true ? ''  :  '1px solid #1985ac','color':showGroceryProds===true ? 'white'  :  '#000000'}">
                Grocery</button>
            </div>
            <div class=" col-nd-3 col-md-3  mb-3 mb-xl-0">
              <button type="button" class="btn btn-block btn-secondary" (click)="getEcomProds()"
                [ngStyle]="{'background-color':showEcomProds===true ? '#1985ac'  :  'white','border':showEcomProds===true ? ''  :  '1px solid #1985ac','color':showEcomProds===true ? 'white'  :  '#000000'}">
                Ecommerce</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h1>Products </h1>
            </div>
            <div class="col-lg-6 text-right">
              <button type="button" class="btn  btn-primary mb-3" (click)="addproduct()">Add Product</button>
              <!-- <div class="form-group"> -->
              <!-- <label for="file">Import Excel</label> -->
              <button class=" file-upload-button">
                <input type="file" #fileInput (change)="onFileSelect(fileInput)" />
                Import</button>
              <!-- </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control" id="ccnumber" placeholder="Search" [(ngModel)]="filter">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>

        <div class="card-body table-responsive">
          <table class="table" *ngIf="showGroceryProds">
            <thead>
              <tr>
                <th>S No</th>
                <th (click)="sort(category_name)">Category Name <span><i class="fa fa-sort"
                      aria-hidden="true"></i></span></th>
                <th (click)="sort(sub_category_name)">Sub Category Name <span><i class="fa fa-sort"
                      aria-hidden="true"></i></span></th>
                <th (click)="sort(product_name)">Product Name <span><i class="fa fa-sort" aria-hidden="true"></i></span>
                </th>
                <th>Sku Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of product|orderBy: key : reverse| filter:filter;let i = index">
                <td>{{prod.indexValue+1}}</td>
                <td>{{prod.category_name}}</td>
                <td>{{prod.sub_category_name}}</td>
                <td>{{prod.product_name}}</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" [src]="prod.skuImg"></td>
                <td class="edit-buttons">
                  <!-- <a><img src="assets/img/edit.png" class="edit"></a>
                  <a><img src="assets/img/delete.png" class="delete"></a> -->
                  <a><i class="fa fa-pencil-square-o fa-lg  " (click)="editProd(prod.id,prod.category_name) "></i></a>
                  <a><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteProductAdmin(prod.id) "></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" *ngIf="showEcomProds">
            <thead>
              <tr>
                <th>S No</th>
                <th>Category Name</th>
                <th>Sub Category Name</th>
                <th>Product Name</th>
                <th>Sku Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let prod of product|orderBy: key : reverse| paginate: { itemsPerPage: 10, currentPage: p }|filter:filter;let i = index">
                <td>{{prod.indexValue+1}}</td>
                <td>{{prod.category_name}}</td>
                <td>{{prod.sub_category_name}}</td>
                <td>{{prod.product_name}}</td>
                <td><img alt="admin@bootstrapmaster.com" class="img-avatar" [src]="prod.skuImg"></td>
                <td class="edit-buttons">

                  <a><i class="fa fa-pencil-square-o fa-lg " (click)="editProd(prod.id,prod.category_name) "></i></a>
                  <a><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteProductAdmin(prod.id) "></i></a>
                </td>
              </tr>

            </tbody>
          </table>
          <div style="width: 100%; text-align: center;">
            <button type="button" class="btn btn-primary mb-3" (click)="pageChanged()">View More</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>