<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add Brand Banner</strong>
                    <small>Form</small>
                    <button (click)="backtobrnadbanner()" class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="card-body">
                    <form>

                    </form>
                    <!-- <select class="form-control border-primary" id="sel1"
                    (change)="bannerPosition($event.target.value)">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <option value="" disabled>Select banner type</option>
                    <option *ngFor="let ban of BannersData" [value]="ban"
                        [selected]="ban==BannerType1">
                        {{ban}}
                    </option> -->
                    <!-- <option value="Main Banners">Main Banners
                    </option>
                    <option value="Branded banners">Branded banners</option>
                    <option value="Featured banners">Featured banners</option>
                    <option value="Best Deals">Best Deals</option>
                    <option value="Best Discounts">Best Discounts</option>
                    <option value="Best Appliances">Best Appliances</option>
                    <option value="Best Discount Appliances">Best Discount Appliances
                    </option>
                    <option value="Popular Brands">Popular Brands</option>
                    <option value="Feature brands">Feature brands</option>
                    <option value="Dummy Banner">Dummy Banner</option> -->
                <!-- </select> -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Website Banner</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox col-md-6">
                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                <label class="custom-control-label" for="customCheck12">Mobile Banner</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Banner Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postal-code">Select Type </label>
                            <select class="form-control" placeholder="Enter Title">
                                <option selected>Select Type</option>
                                <option>Categories</option>
                                <option>Sub Categories</option>
                            </select>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">Wesite Banner</label>
                        <div class="col-md-3">
                            <input type="file" id="file-input" name="file-input">
                        </div>
                        <label class="col-md-3 col-form-label" for="file-input">Mobile Banner</label>
                        <div class="col-md-3">
                            <input type="file" id="file-input" name="file-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success">Add Banner</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>